* {
    background-color: black;
    text-align: center;
    color: white;
}
#miCanvas {
    background-image: url(assets/srpites/ciudad/10.png);
    border: inset 10px #ccc; 
    margin: 20px;
    width: 600px;
    height: 600px;
    background-size: cover;
    background-position: center center;
}
